registry=https://pkgs.dev.azure.com/endeavor-digital/f868c0dc-bb5d-49ef-a77a-33065e543b59/_packaging/experiences-npm-packages/npm/registry/                         
always-auth=true

; begin auth token
//pkgs.dev.azure.com/endeavor-digital/f868c0dc-bb5d-49ef-a77a-33065e543b59/_packaging/experiences-npm-packages/npm/registry/:username=endvr-d-cdp
//pkgs.dev.azure.com/endeavor-digital/f868c0dc-bb5d-49ef-a77a-33065e543b59/_packaging/experiences-npm-packages/npm/registry/:_password=cDNzdTVxdnh1YzRiZ3llNGx2dmh1bDZ3YmlicmE3YzNjYWpidXlpeWJidm5mdWo3aG12cQ==
//pkgs.dev.azure.com/endeavor-digital/f868c0dc-bb5d-49ef-a77a-33065e543b59/_packaging/experiences-npm-packages/npm/registry/:email=ci@endvr-digital-dev.com
//pkgs.dev.azure.com/endeavor-digital/f868c0dc-bb5d-49ef-a77a-33065e543b59/_packaging/experiences-npm-packages/npm/:username=endvr-d-cdp
//pkgs.dev.azure.com/endeavor-digital/f868c0dc-bb5d-49ef-a77a-33065e543b59/_packaging/experiences-npm-packages/npm/:_password=cDNzdTVxdnh1YzRiZ3llNGx2dmh1bDZ3YmlicmE3YzNjYWpidXlpeWJidm5mdWo3aG12cQ==
//pkgs.dev.azure.com/endeavor-digital/f868c0dc-bb5d-49ef-a77a-33065e543b59/_packaging/experiences-npm-packages/npm/:email=ci@endvr-digital-dev.com
; end auth token