variables: 
  - name: DEV_URL
    value: https://speakers.cluster1.endvr-digital-dev.com
  - name: PROD_URL
    value: https://wmespeakersbeta.com

trigger:
- master

#schedules:
#- cron: "*/15 * * * *"
#  displayName: Fifteen minute content build
#  branches:
#    include:
#    - master 
#  always: true  

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: StagingDeploy  
    displayName: "Deploy To Staging"
    jobs:
      - job: Build
        steps:
          - task: NodeTool@0
            displayName: 'Install Node.js'
            inputs:
              versionSpec: '10.x'
          - script: |
              yarn
              if [ $? -ne 0 ]; then
                  exit 1
              fi
            displayName: 'yarn install'          
          - script: |   
              export REACT_APP_SPEAKERS_TALENT_URL=$(DEV_URL)/api/speakers-talent
              export REACT_APP_IMAGE_PROXY_URL=$(DEV_URL)/
              export REACT_APP_SPEAKERS_BOOKING_URL=$(DEV_URL)/api/speakers-booking
              yarn build-dev
              if [ $? -ne 0 ]; then
                  exit 1
              fi  
            displayName: 'Build deployable package'            
          - publish: $(Build.Repository.LocalPath)/build
            artifact: StagingWebApp
      - deployment: StagingDeploy
        displayName: "Deploy"
        pool: 
          vmImage: 'ubuntu-latest'
        environment: 'speakers-edigital-dev'
        strategy:
          runOnce:
            deploy:
              steps:
              - download: current
                artifact: StagingWebApp
              - task: S3Upload@1
                displayName: 'Upload yarn build output to S3 bucket'
                inputs:
                  awsCredentials: 'CDP AWS Subscription'
                  regionName: 'us-east-2'
                  bucketName: 'endvr-stg-speakers'
                  sourceFolder: '$(Pipeline.Workspace)/StagingWebApp'
                  globExpressions: '**'                              
                  filesAcl: 'public-read'
      - job: Cypress
        dependsOn: StagingDeploy
        steps:
          - script: |
              yarn
              if [ $? -ne 0 ]; then
                  exit 1
              fi
            displayName: 'yarn install'          
          - script: |
              export CYPRESS_BASE_URL=$(DEV_URL)
              export CYPRESS_DEV_ENV=true
              yarn run cy:test
              yarn run cy:merge
              if [ $? -ne 0 ]; then
                  exit 1
              fi
            displayName: 'yarn run cy:test'          
          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/reports/merged.xml' 
              mergeTestResults: true
              failTaskOnFailedTests: false
              testRunTitle: Cypress Test Results
              publishRunAttachments: true
      - job: Lighthouse
        dependsOn: StagingDeploy
        steps:
          - task: Lighthouse@1
            inputs:
              url: $(DEV_URL)
              args: '--quiet'
              assertions: |
                no-vulnerable-libraries = 1
                robots-txt = 1
  
  - stage: ProductionDeploy  
    displayName: "Deploy To Production"
    dependsOn:
      - StagingDeploy
    jobs:
      - job: Build
        steps:
          - task: NodeTool@0
            displayName: 'Install Node.js'
            inputs:
              versionSpec: '10.x'
          - script: |
              yarn
              if [ $? -ne 0 ]; then
                  exit 1
              fi
            displayName: 'yarn install'          
          - script: |   
              export REACT_APP_SPEAKERS_TALENT_URL=$(PROD_URL)/api/speakers-talent
              export REACT_APP_IMAGE_PROXY_URL=$(PROD_URL)/
              export REACT_APP_SPEAKERS_BOOKING_URL=$(PROD_URL)/api/speakers-booking
              yarn build
              if [ $? -ne 0 ]; then
                  exit 1
              fi  
            displayName: 'Build deployable package'                    
          - publish: $(Build.Repository.LocalPath)/build
            artifact: ProductionWebApp
      - deployment: ProductionDeploy
        displayName: "Deploy"
        pool: 
          vmImage: 'ubuntu-latest'
        environment: 'speakers-prod'
        strategy:
          runOnce:
            deploy:
              steps:
              - download: current
                artifact: ProductionWebApp
              - task: S3Upload@1
                displayName: 'Upload yarn build output to S3 bucket'
                inputs:
                  awsCredentials: 'CDP AWS Subscription'
                  regionName: 'us-west-2'
                  bucketName: 'endeavor-speakers'
                  sourceFolder: '$(Pipeline.Workspace)/ProductionWebApp'
                  globExpressions: '**'          
                  filesAcl: 'public-read'
              - task: AWSCLI@1
                displayName: 'Invalidate CDN caching of index.html'
                inputs:
                  awsCredentials: 'CDP AWS Subscription'
                  regionName: 'us-west-2'
                  awsCommand: 'cloudfront'
                  awsSubCommand: 'create-invalidation'   
                  awsArguments: '--distribution-id ELPJK0DT806PY --paths "/index.html"'
      - job: Cypress
        dependsOn: ProductionDeploy
        steps:
          - script: |
              yarn
              if [ $? -ne 0 ]; then
                  exit 1
              fi
            displayName: 'yarn install'          
          - script: |
              export CYPRESS_BASE_URL=$(PROD_URL)
              yarn run cy:test
              yarn run cy:merge
              if [ $? -ne 0 ]; then
                  exit 1
              fi
            displayName: 'yarn run cy:test'          
          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/reports/merged.xml' 
              mergeTestResults: true
              failTaskOnFailedTests: false
              testRunTitle: Cypress Test Results
              publishRunAttachments: true
      - job: Lighthouse
        dependsOn: ProductionDeploy
        steps:
          - task: Lighthouse@1
            inputs:
              url: $(PROD_URL)
              args: '--quiet'
              assertions: |
                no-vulnerable-libraries = 1
                robots-txt = 1